.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;  
  
}

.welcome__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
  .welcome {
    margin: 10px;
  }
}
