.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.wrapper input {
  display: none;
}

.checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #2563eb;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.wrapper input:checked + .checkmark {
  background: #2563eb;
}

.wrapper input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
